<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--EZE-->
  <!--<connectionStrings>
    <add name="CadenaConexionPP2024" connectionString="Data Source= DESKTOP-QSS2PVA\SQLEXPRESS; Integrated Security=true;Initial Catalog= Facun2BD; uid=Usuario; Password=Contraseña; " providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--ESCUELA-->
  <connectionStrings>
    <add name="CadenaConexionPP2024" connectionString="Data Source= DESKTOP-U48JRI6\SQLEXPRESS; Integrated Security=true;Initial Catalog= Facun2BD; uid=Usuario; Password=Contraseña; " providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--HUGO-->
  <!--<connectionStrings>
    <add name="CadenaConexionPP2024" connectionString="Data Source= DESKTOP-L84NEUL; Integrated Security=true;Initial Catalog= Facun2BD; uid=Usuario; Password=Contraseña; " providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
